@import "tailwindcss";

:root {
  /* Kita ganti hex solid jadi linear gradient */
  --background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  --foreground: #171717;
}

@theme inline {
  --font-body: var(--font-inter);
  --font-title: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  /* Gunakan background-image karena ini gradient */
  background-image: var(--background);
  /* Tambahkan min-height biar gradient-nya nggak kepotong kalau konten dikit */
  min-height: 100vh;
  /* Tambahkan background-attachment: fixed kalau lo mau gradient-nya diem pas di-scroll */
  background-attachment: fixed;
  color: var(--foreground);
  line-height: inherit;
  margin: 0;
}